#nprogress .bar {
	height: 3px;
}

button:focus {
	display: none;
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: none !important;
}

.darkNav li.nav-item:hover {
	background-color: rgba(123, 165, 201, 0.4) !important;
	border-radius: 3px;
	cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
	color: #e6e6e6;
	padding: 8px 32px !important;
}

.navbar-dark .navbar-nav .nav-link .darktext {
	color: #8a8383 !important;
}

.darkNav a:hover {
	color: #c0c0c0 !important;
}

.navLogo {
	width: 50px !important;
}

.navDropdown .nav-link {
	color: #7b8a8b !important;
}

.navDropdown .nav-link:hover {
	color: #ffffff !important;
}

.frontLogo img {
	width: 100px;
	position: fixed;
	right: 20px;
	bottom: 20px;
}

@media (max-width: 762px) {
	.frontLogo img {
		display: none;
	}
}

.newsLink {
	background-color: #1c87c9;
	border: none;
	border-radius: 3px;
	color: #eeeeee;
	cursor: pointer;
	display: inline-block;
}

#newsToolTip {
	background-color: rgba(52, 120, 183, 0.2);
	color: #fff;
	padding: 10px;
	font-size: 1.3rem;
}

.bs-tooltip-auto[x-placement^='bottom'] .arrow::before,
.bs-tooltip-bottom .arrow::before {
	border-bottom-color: rgba(52, 120, 183, 0.2) !important;
}

@keyframes glowing {
	0% {
		background-color: #28497a;
		box-shadow: 0 0 5px #28497a;
	}
	50% {
		background-color: #32568b;
		box-shadow: 0 0 20px #32568b;
	}
	100% {
		background-color: #28497a;
		box-shadow: 0 0 5px #28497a;
	}
}
.newsLink {
	animation: glowing 1300ms infinite;
}

/* --------------Index Page CSS-------------- */

.bgImage {
	background-image: url('/static/images/space.jpg'); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	min-height: 100vh; /* You must set a specified height */
	overflow: scroll;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}
.landingNav li.nav-item a {
	color: #e6e6e6;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #ffffff !important;
}

.landingNav li.nav-item:hover {
	background-color: rgba(231, 231, 231, 0.119) !important;
	border-radius: 3px;
	cursor: pointer;
}

.rightLandingNav {
	color: #e6e6e6;
}

.rightLandingNav .linkedIcon {
	color: #e6e6e6;
	font-size: 28px;
}

.rightLandingNav li:hover {
	background-color: rgba(231, 231, 231, 0.119) !important;
	border-radius: 3px;
	cursor: pointer;
}

.landingFooter {
	position: fixed;
	bottom: 0;
	height: 40px;
	margin-left: 20px;
	padding: 10px;
}

.titleDiv {
	color: #e6e6e6;
	display: flex;
	justify-content: center;
	padding-top: 10%;
	font-size: 2.8rem;
	text-align: center;
}

.titleDiv h1 {
	font-size: 4.8rem;
}

.titleBlurb {
	color: #e6e6e6;
	display: flex;
	justify-content: center;
	text-align: center;
}
.gridRow {
	padding-top: 70px;
}

h5.modal-title {
	font-size: 1.8rem;
}

.modal-content {
	background-color: #2c3e50 !important;
	color: #fff;
}

.sdvosbLogo {
	width: 100% !important;
	height: 100%;
}

.sdvosbLogo img {
	width: 80px !important;
}

.modal .close {
	color: #fff !important;
}

.modal-content hr {
	border-top: 1px solid rgba(245, 245, 245, 0.5);
}

.gridCol .btn {
	min-width: 100%;
	background-color: rgba(52, 120, 183, 0.2) !important;
	color: #e6e6e6;
	border: none;
	padding: 20px;
	font-size: 1.5rem;
	cursor: pointer;
}

.modalBTNs:hover {
	background-color: rgba(42, 59, 75, 0.5) !important;
}

.modalBTNs svg {
	font-size: 1.6rem;
}

.modalBTNs hr {
	background-color: #e6e6e6;
}

.modalPhoto {
	border-style: none;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
}

.modal-header img {
	text-align: center;
}

.sdvosbLogo {
	width: 80px;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.sdvosbLogo img {
	width: 100%;
}

.contactLink {
	text-decoration: none;
	color: #000000;
}
.socialIcons {
	list-style-type: none;
}

a.contactText.contactLink:hover {
	text-decoration: none;
}

.contactText a {
	color: #ffffff !important;
}

.contactText a:hover {
	color: #b6b6b6 !important;
}

.socialIcons a {
	color: #ffffff;
	font-size: 28px;
}

@media (max-width: 992px) {
	.titleDiv h1 {
		font-size: 2.2rem;
	}
	.titleBlurb h5 {
		font-size: 0.9rem;
	}
	a.nav-link {
		padding-left: 0;
	}
	.modalBTNs {
		min-width: 80%;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.landingFooter {
		height: 60px;
	}

	.homeGridRow {
		padding-top: 30px;
	}

	.gridCol .btn {
		font-size: 1.4rem !important;
	}

	.titleDiv {
		padding-top: 10px;
	}

	#newsToolTip {
		display: none;
	}

	.navbar-dark .navbar-nav .nav-link {
		padding: none;
	}

	.newsLink {
		animation: none !important;
		background-color: transparent !important;
	}

	.rightLandingNav {
		display: block !important;
	}

	.navbar-dark .navbar-nav .nav-link {
		padding: 8px 32px 8px 0px !important;
	}
}

/* --------------User Dashboard Page CSS-------------- */

.card-user .image img {
	max-width: 100% !important;
	border-radius: 3px;
}

.card .image {
	overflow: hidden !important;
	height: 200px !important;
	position: relative !important;
}

.card-user .image {
	height: 130px !important;
}

.card {
	box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	color: #252422;
	margin-bottom: 20px;
	position: relative;
	border: 0;
	-webkit-transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1),
		box-shadow 0.2s ease;
	-webkit-transition: box-shadow 0.2s ease,
		-webkit-transform 0.3s cubic-bezier(0.34, 2, 0.6, 1);
	transition: box-shadow 0.2s ease,
		-webkit-transform 0.3s cubic-bezier(0.34, 2, 0.6, 1);
	transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
	transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease,
		-webkit-transform 0.3s cubic-bezier(0.34, 2, 0.6, 1);
}

.card-user .avatar {
	width: 124px;
	height: 124px;
	border: 1px solid #fff;
	position: relative;
}

.card .avatar {
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 15px;
}

.card-user .author {
	text-align: center;
	text-transform: none;
	margin-top: -77px;
}

.testMargin {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 200px;
}

.profileSection {
	display: block;
	margin: 0 auto;
}

.sideNavMenu {
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sideNavMenu:hover {
	background-color: #2c3e50;
	color: #ffffff;
}

.bg-page {
	/* background-color: #c7c7c7;
	height: 100vh;
	background-attachment: fixed; */
}

.list-group {
	padding-bottom: 20px;
}

.listGroupCSS a {
	color: #2c3e50;
	text-decoration: none;
}

.listGroupCSS a:hover {
	color: #d4d4d4;
	text-decoration: none;
}

.register-component {
	width: 400px;
	max-width: 95%;
	display: block;
	margin: 0 auto;
}

.authDiv {
	background-image: url('/static/images/people.jpg'); /* The image used */
	background-color: #12295a; /* Used if the image is unavailable */
	height: 100vh; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.authDivTwo {
	background-image: url('/static/images/signup.jpg'); /* The image used */
	background-color: #12295a; /* Used if the image is unavailable */
	height: 100vh; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.authText {
	color: #ffffff;
	text-align: center;
	padding-top: 50px;
	font-size: 24px;
}

.authContainer {
	width: 95%;
	padding-top: 40px;
	display: block;
	margin: 0 auto;
}

.authContainer input.form-control {
	border: none;
	background-color: #ececec;
	color: #b3b1b1;
}

.authContainer .btn-primary {
	margin-top: 10px;
}

.authTitle {
	background-color: #2c3e50;
	color: #fff;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	width: 90%;
	display: block;
	margin: auto;
	margin-top: -30px;
}

.gradient-title {
	background-image: linear-gradient(
		to top,
		rgba(44, 62, 80, 0),
		rgba(44, 62, 80, 1)
	);
	padding: 20px;
	margin-bottom: 40px;
	color: #ececec;
	border-radius: 10px 10px 0 0;
}

.col-md-12.pt-3.pb-5.gradient-title {
	margin-top: 40px;
	margin-bottom: 40px;
}

.adminSideNav li {
	background-color: #2c3e50;
}

.adminSideNav li a {
	color: #e6e6e6;
}

.adminSideNav li:hover {
	background-color: #737d86;
}

@media (min-width: 576px) {
	.authContainer {
		width: 400px;
		padding-top: 80px;
	}
	.authText {
		font-size: 36px;
		padding-top: 90px;
	}

	.sideNav {
		width: 400px;
		height: 100vh;
		background-color: beige;
	}
}

.newCatsTags {
	background-color: rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	margin-top: 20px;
	padding: 10px;
}

.jobCard {
	padding: 10px;
}

.cat-card {
	padding: 20px;
}

.ql-editor {
	min-height: 350px;
}

.ql-container.ql-snow {
	border-radius: 0 0 5px 5px;
}

.ql-toolbar.ql-snow {
	border-radius: 5px 5px 0 0;
}

.jobCatCard.card-title {
	border-bottom: 1px solid #c4c1c1;
}

.errorSuccessMessage {
	padding: 15px 0;
}

/* --------------Community Page CSS-------------- */

.featurette-img img {
	max-width: 70%;
}

.communityPage {
	padding-bottom: 150px;
}

img.featurette-image.img-fluid.mx-auto {
	border-radius: 5px;
}

.marketing h2 {
	font-weight: 400;
}

@media (min-width: 62em) {
	.featurette-head {
		margin-top: 4rem;
	}
}

@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 7rem;
	}
}
@media (min-width: 40em) {
	.featurette-heading {
		font-size: 40px;
	}
}
.marketing h2 {
	font-weight: 400;
}

.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.05rem;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
}

.jumbotron {
	border-radius: 0px !important;
}

.jumboBG {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

.jumboBG video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.jumboBG .container {
	position: relative;
	z-index: 2;
}

.jumboBG .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
	.jumboBG {
		background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black
			no-repeat center center scroll;
	}
	.jumboBG video {
		display: none;
	}
}

.communityTitle {
	text-align: center;
}

.communityTitle h2 {
	font-size: 48px;
}

.jobTitlePage {
	color: #2c3e50;
}

.jobTitlePage:hover {
	color: #7e7e7e;
}

.teamCard {
	height: 400px;
	width: auto;
}

.teamTop {
	height: 200px;
	border-bottom: none !important;
}

.teamCardHalf {
	height: 200;
}

.teamPageImg {
	width: 200px;
	display: block;
	margin: 0 auto;
	border: 5px solid #ffffff;
	border-radius: 50%;
}

.leadershipSection {
	width: 1200px;
	display: block;
	margin: 0 auto !important;
}

.leadershipCardHead {
	background-color: #2c3e50 !important;
	border: none !important;
}

.teamCards {
	background-color: #2c3e50 !important;
	color: #ffffff;
}

.leadershipCardFooter {
	background-color: #2c3e50 !important;
}

.leadershipCardName {
	font-size: 34px;
}

.teamHeadCard {
	border-radius: 5px;
}

.teamHeadCard {
	border-radius: 5px 5px 0 0;
}

.teamDiv {
	width: 100%;
	padding-bottom: 150px;
}

.centerTitle {
	text-align: center;
}

.paddingTeam {
	display: flex;
	justify-content: center;
}

.teamJumboBG {
	background-image: url(/static/images/handsone.jpg);
	background-position: center;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}

.partnerJumboBG {
	background-image: url(/static/images/partner.jpg);
	background-position: center;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}

.userDBTable {
	max-width: 100%;
	overflow: auto;
	white-space: nowrap;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.userDBHeader {
	background-color: #2c3e50;
	color: #ffffff;
}

.userDBHeader th {
	border: 1px solid #a0a0a0;
}

.table td {
	border: 1px solid #a0a0a0;
	color: #2c3e50;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.cardDashExtra {
	background-image: url(/static/images/basic.jpg);
	background-position: center;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}
.cardDashExtra {
	background-image: url(/static/images/basic.jpg);
	background-position: center;
	width: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}

.partnerIMG img {
	display: block;
	margin: 0 auto;
}

.partnerIMG img {
	max-width: 150px;
}

.partnerIMG.row {
	display: flex;
	height: 300px;
	justify-content: center;
	align-items: center;
}

.marginBottom {
	margin-bottom: 150px;
}

.editProfileHeader {
	background-color: #2c3e50 !important;
	color: #d6d5d5;
}

.smallCardHeader {
	background-color: #2c3e50 !important;
}

.smallCardTitle {
	color: #ffffff;
}

.userDBbody a {
	color: #2c3e50;
}

. element.style {
}
button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
	cursor: pointer;
}

.modal-content p {
	font-size: 18px;
}

.modal-content li {
	font-size: 18px;
}

.NewsDiv {
	background-color: #2c3e50;
	min-height: 100vh;
	color: rgb(231, 231, 231);
}

/* -------------- TEAM PAGE -------------- */

.gray {
	color: #a5a5a5;
}

.topMrg {
	padding-top: 40px;
}

.team-member {
	margin: 15px 0;
	padding: 0;
	-webkit-box-shadow: 7px 10px 18px -13px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 10px 18px -13px rgba(0, 0, 0, 0.75);
	box-shadow: 7px 10px 18px -13px rgba(0, 0, 0, 0.75);
}

.team-member figure {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}

.team-member figure img {
	width: 313px;
}

.team-member figcaption p {
	font-size: 18px;
}

.team-member figcaption ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.team-member figcaption ul {
	visibility: visible;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
	display: inline-block;
	padding: 10px;
}

.team-member h4 {
	margin-bottom: 0 !important;
	padding-top: 20px;
}

.team-member figcaption {
	padding: 50px;
	color: transparent;
	background-color: transparent;
	position: absolute;
	z-index: 996;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
	visibility: visible;
	color: #fff;
	background: rgba(44, 62, 80, 0.9);
	/* Primary color, can be changed via colors.css */

	height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
	color: rgba(49, 49, 49, 0.97);
}

.team-member figure img {
	-webkit-transform: scale(1) rotate(0) translateY(0);
	-moz-transform: scale(1) rotate(0) translateY(0);
	-o-transform: scale(1) rotate(0) translateY(0);
	-ms-transform: scale(1) rotate(0) translateY(0);
	transform: scale(1) rotate(0) translateY(0);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
	-webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
	-moz-transform: scale(1.1) rotate(1deg) translateY(12px);
	-o-transform: scale(1.1) rotate(1deg) translateY(12px);
	-ms-transform: scale(1.1) rotate(1deg) translateY(12px);
	transform: scale(1.1) rotate(1deg) translateY(12px);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';

#team {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #999;
	background-color: #fff;
}

#team h1,
#team h2,
#team h3,
#team h5,
#team h6 {
	margin: 0 0 20px 0;
	text-transform: none;
	color: #2c3e50;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.5;
}

#team a:link,
#team a:active,
#team a:visited {
	color: rgba(255, 255, 255, 1);
}

#team a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.teamTitle {
	color: #d1d1d1 !important;
	font-size: 24px;
}

.teamA svg {
	font-size: 36px;
	color: #fff;
}

.NewsDiv {
	padding: 30px;
	padding-bottom: 180px;
}

.UpComing {
	padding-top: 80px;
}

.cardDark {
	background-color: rgba(131, 131, 131, 0.158) !important;
	color: #fff;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 50px;
	height: 300px;
}

.imgDiv {
	width: 300px;
	float: left !important;
	overflow: auto;
	padding-right: 10px;
	border-radius: 5px;
}
.imgDiv2 {
	width: 300px;
	float: right !important;
	overflow: auto;
	padding-left: 10px;
	border-radius: 5px;
}

.dateDiv {
	margin-left: 60px;
	background-color: #37516b;
	width: 280px;
	text-align: center;
	height: 40px;
	padding: 10px;
	margin-bottom: -1px;
	color: #fff;
	border-radius: 3px 3px 0px 0px;
}

.missionText {
	font-weight: 400;
	font-size: 1.5rem;
}
